<html>
<head>
	<meta charset="UTF-8">
	<title>EQ Reporting</title>
	<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Anonymous+Pro" rel="stylesheet">
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<h1>EQ Reporting Admin</h1>
	<nav>
		<ul>
			<li><a href="/admin">Home</a></li>
			<li><a href="/admin/companionships">Companionships</a></li>
		</ul>
	</nav>
	{{{ body }}}
	<script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous">
	</script>
</body>
</html>